html[data-theme="light"] {
    --color: #000;
}

html[data-theme="dark"] {
    --color: #fff;
}


.item {
    height: 150px;
    border: 1px solid #aaa;
    display: flex;
    justify-content: center;
}

.item * {
    color: var(--color) !important;
}

.imageWrapper {
    min-width: 150px;
    height: 150px;
}

.image {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
}

.categories {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categories * {
    font-size: 20px;
}

.buy {
    min-width: 150px;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

.amount {
    display: flex;
    align-items: center;
}

.number {
    display: flex;
    width: 80px;
    justify-content: center;
}

.minus {
    height: 30px;
    width: 30px;
}

.minus::after {
    position: relative;
    content: "-";
    top: -5px;
}

.button {
    background-color: rgba(0, 0, 0, 0);
}
