.slider {
    height: 720px;
    background-color: #ccc;
    position: relative;
}

.slider__content {
    position: absolute;
    z-index: 5;
    background-color: #ccc;
}

.slide__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 54px;
}

.h2 {
    text-align: center;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #000;
}

.catalog_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    box-shadow: 0 0 5px #000;

    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.catalog_button:hover {
    background-color: #ddd;
    border-radius: 8px;
}

@media (max-width: 767px) {
    .slider {
        height: 480px;
    }

    .slide__block {
        gap: 27px;
    }

    .h2 {
        font-size: 28px;
    }
}