.container {
  padding: 20px 20px 40px 20px;
  display: flex;
  gap: 20px;
}

.items {
  width: 1320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.filters {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.reset {
  border: 3px solid #ffffff;
  border-radius: 30px;
  padding: 2px 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 auto;
}
